
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>{{tehtava.nimi}}</th>
    </thead>
    <thead>
    <td>{{tehtava.kuvaus}}</td>
</thead>
{% if tehtava.suoritettu == 'kyllä'%}
<label class="label label-success">suoritettu
    <td>{{tehtava.hyväksyjä}}</td>
    {% else %}
    <label class="label label-danger">kesken
        {% endif %}
        <th></th>
        </tr>
        <thead
    </thead><thead
</thead><thead
</thead><thead
</thead>
<th>Lisätään vielä erikseen pidempi kuvaus lyhyen kuvauksen lisäksi, sekä tyylittely</th>

 <td><a href="{{base_path}}/tehtavat">takaisin</td>

</table>
