
{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{user.nimi}}</h1>

{{forms.destroy_button("#{base_path}/kayttaja/#{kayttaja.id}/poista")}}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Hyväksyjä</th>
            <th>Kuvaus</th>
            <th>Suoritettu</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for tehtava in tehtavat%}
        <tr>
            <td>{{tehtava.nimi}}</td>
            <td>{{tehtava.hyväksyjä}}</td>
            <td>{{tehtava.kuvaus}}</td>
            <td>
                {% if tehtava.suoritettu == 'kyllä'%}
                <label class="label label-success">suoritettu</label>
                {% else %}
                <label class="label label-danger">kesken</label>
                {% endif %}

            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>
{% endblock %}

