{% extends "base.html" %}
{% block content %}
<h1>Osta tuutorivastaavalle kalja</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>
<p>
oikeudet muokata(hyväksyä tehtävä tehdyksi) vain tuutorilla, oikeudet poistaa ainoastaan tuutorivastaavalla    
</p>

<ul>

    <li><strong>Tehtävä:</strong> <label class="label label-danger">suoritettu</label></li>
    
    <li><strong>Suorituspäivä</strong> 15.10.2015</li>
    <li><strong>Hyväksyjä</strong> Tuutori</li>
</ul>

<p>
    Klusterilla, fuksisitsien jälkeen
</p>
{% endblock %}