{% extends "base.html" %}
{% block content %}
<h1>Osta tuutorivastaavalle kalja</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="http://swarttu.users.cs.helsinki.fi/Tsoha/tehtavan_muokkaus" class="btn btn-default">Muokkaa</a>
</p>
<p>
    oikeudet muokata(hyväksyä tehtävä tehdyksi, milloin ja kenen toimesta) vain tuutorilla, oikeudet poistaa ainoastaan tuutorivastaavalla    
</p>

<ul>

    <li><strong>Tehtävä:</strong> <label class="label label-success">suoritettu</label></li>

    <li><strong>Suorituspäivä</strong> 15.10.2015</li>
    <li><strong>Hyväksyjä</strong> Tuutori</li>
</ul>

<p>
    Klusterilla, fuksisitsien jälkeen
</p>

<h1>Hyppää kaivoon</h1>

<p>
    <button class="btn btn-danger">Poista</button> <a href="http://swarttu.users.cs.helsinki.fi/Tsoha/tehtavan_muokkaus" class="btn btn-default">Muokkaa</a>
</p>

<ul>

    <li><strong>Tehtävä:</strong> <label class="label label-danger">suorittamatta</label></li>

</ul>

{% endblock %}